@import "compass/reset";
@import "compass/css3";

.clear {
    clear: both;
}

#formApp {
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
    .form-item {
        position: relative;
        margin-top: 5px;
    }
}